{
  "extends": [
    "airbnb",
    "airbnb-typescript"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "ignorePatterns": [
    ".eslintrc",
    "vite.config.ts"
  ],
  "rules": {
    "linebreak-style": [
      "error",
      "unix"
    ],
    "import/extensions": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-duplicates": "off",
    "import/order": "off",
    "import/no-self-import": "off",
    "import/no-cycle": "off",
    "import/no-relative-packages": "off",
    "import/no-named-as-default": "off",
    "import/no-useless-path-segments": "off",
    "react/react-in-jsx-scope": "off",
    "max-len": [
      "error",
      {
        "code": 200
      }
    ],
    "no-console": "off"
  }
}